.container {
  margin: auto;
  max-width: 500px;
}

.cart_cell {
  background: lightgray;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: larger;
}

.order_button {
  margin: 5px;
}
