.container {
  display: flex;
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.link_button {
  margin: 10px;
  width: 100px;
  height: 50px;
}
